*~
*.bak
*.o
cavp1
*.sublime-workspace
configure
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h.in
depcomp
install-sh
missing
src/Makefile.in
.deps
stamp-h1
Makefile
config.status
config.log
test-frame.cc
config.guess
config.sub
libtool
ltmain.sh
src/.libs/
ar-lib
src/libcav.a
src/yuvShow
src/yuvComp
src/yuvCopy
doc/
yuvConvert
videoEffects
